SQLSERVER_HOST=localhost
SQLSERVER_PORT=1433
SQLSERVER_DB=dtpm_dw
SQLSERVER_USER=sa
SQLSERVER_PASSWORD=YourStrong!Passw0rd
SQLSERVER_DRIVER=ODBC Driver 18 for SQL Server
SQLSERVER_ENCRYPT=yes
SQLSERVER_TRUST_CERT=yes